:root {
	/* Colors */
	--clr-primary-orange: hsl(25, 97%, 53%);

	--clr-grey-darker: hsl(216, 12%, 8%);
	--clr-grey-dark: hsl(213, 19%, 18%);
	--clr-grey-normal: hsl(217, 12%, 63%);
	--clr-white: hsl(0, 100%, 100%);

	--gradient-bg: linear-gradient(
		180deg,
		hsl(215, 20%, 17%) 0%,
		hsl(216, 24%, 12%) 100%
	);

	/* Tyopgraphy */
	--ff-primary: 'Overpass', sans-serif;

	--fs-primary: 15px;

	--fw-bold: 700;
	--fw-normal: 400;
}

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

body {
	background-color: var(--clr-grey-darker);
	margin-inline: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	background: var(--gradient-bg);
	padding: 1.7rem 1.5rem;
	font-family: var(--ff-primary);
	border-radius: 10px;
	max-width: 412px;
}

.card__star {
	background-color: #262e38;
	padding: 13px;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.card__title {
	color: var(--clr-white);
	margin-bottom: 0.7rem;
}

.card__text {
	color: var(--clr-grey-normal);
	font-size: 14px;
	text-align: left;
	margin-bottom: 1.3rem;
}

.rating__btns {
	display: flex;
	justify-content: space-between;
}

.rating__btn {
	border: none;
	background-color: var(--clr-grey-dark);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	color: var(--clr-grey-normal);
	font-weight: var(--fw-bold);
	margin-bottom: 1.5rem;
}

.rating__btn:hover {
	cursor: pointer;
	background-color: var(--clr-white);
	color: black;
	transform: scale(1.1);
	transition: 0.1s;
}

.rating__btn:active {
	background-color: var(--clr-primary-orange);
	color: black;
	transform: scale(0.95);
}

.rating__btn-submit {
	background-color: var(--clr-primary-orange);
	border: none;
	border-radius: 30px;
	width: 100%;
	height: 2.7rem;
	font-size: 1.2rem;
	font-weight: var(--fw-bold);
}

.rating__btn-submit:hover {
	cursor: pointer;
	background-color: var(--clr-white);
}

@media (min-width: 770px) {
	body {
		margin-inline: 11rem;
	}

	.card {
		border-radius: 20px;
	}

	.card__star {
		padding: 15px;
		margin-bottom: 1.8rem;
	}

	.card__title {
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}

	.card__text {
		font-size: 1rem;
		margin-bottom: 1.2rem;
	}

	.rating__btn {
		height: 50px;
		width: 50px;
		margin-bottom: 2.2rem;
	}

	.rating__btn-submit {
		height: 3.2rem;
	}
}

.results__card {
	display: none;
	background: var(--gradient-bg);
	padding: 1.7rem 1.5rem;
	font-family: var(--ff-primary);
	border-radius: 10px;
	max-width: 412px;
	text-align: center;
}

.results__img {
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1.7rem;
}

.results__result {
	color: var(--clr-primary-orange);
	background-color: var(--clr-grey-dark);
	border-radius: 30px;
	text-align: center;
	width: 11rem;
	height: 2rem;
	font-size: var(--fs-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 1.5rem;
}

.results__congrats {
	color: var(--clr-white);
	font-weight: var(--fw-bold);
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.results__text {
	color: var(--clr-grey-normal);
	text-align: center;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

@media (min-width: 770px) {
	.results__card {
		border-radius: 20px;
	}
	.results__img {
		height: 8rem;
		margin-top: 1.5rem;
		margin-bottom: 2.2rem;
	}

	.results__result {
		margin-bottom: 2rem;
		font-size: 1rem;
	}

	.results__congrats {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.results__text {
		font-size: 1rem;
	}
}

.clicked {
	background-color: var(--clr-primary-orange);
	color: white;
}
